ansible==4.10.0
ansible-lint==5.4.0
awscli==1.24.10
boto==2.49.0
bcrypt==3.2.2
certifi==2022.5.18.1
crcmod==1.7
cryptography==37.0.2
docker==5.0.3
google-auth==2.6.6
google-cloud-storage==2.3.0
grpcio==1.46.3
molecule==3.6.1
pexpect==4.8.0
pygit2==1.9.2
pyhelm==2.14.5
PyMySQL==1.0.2
pyOpenSSL==22.0.0
pytest==7.1.2
pytest-testinfra==6.7.0
PyYAML==5.4.1
requests==2.27.1
testinfra==6.0.0
urllib3==1.26.9